pip==25.0.1
protobuf==6.33.5
kaggle==2.0.0
python-slugify==8.0.4
wandb==0.25.0
sentry-sdk==2.53.0
text-unidecode==1.3
GitPython==3.1.46
gitdb==4.0.12
smmap==5.0.2
libtpu==0.0.17
jsonschema==4.26.0
astunparse==1.6.3
array_record==0.8.3
immutabledict==4.3.1
urllib3==2.6.3
aiosignal==1.4.0
libclang==18.1.1
annotated-types==0.7.0
timm==1.0.24
grain==0.2.15
multidict==6.7.1
jupyterlab_pygments==0.3.0
tensorboard==2.20.0
tensorflow-hub==0.16.1
fastparquet==2025.12.0
h5py==3.15.1
tensorflow==2.20.0
pure_eval==0.2.3
flake8==7.1.2
sentencepiece==0.2.1
nbconvert==7.17.0
grpcio==1.78.0
docstring-to-markdown==0.17
fqdn==1.5.1
gin-config==0.5.0
distrax==0.1.7
tensorboardX==2.6.4
toml==0.10.2
pylatexenc==3.0a33
jsonpointer==3.0.0
comm==0.2.3
websocket-client==1.9.0
ipywidgets==8.1.8
tensorflow-io-gcs-filesystem==0.37.1
huggingface_hub==0.36.2
namex==0.1.0
jupyter_core==5.9.1
ipykernel==7.2.0
keras-core==0.1.7
numba==0.64.0rc1
pydantic_core==2.41.5
click==8.3.1
markdown-it-py==4.0.0
kiwisolver==1.4.10rc0
opt_einsum==3.4.0
opencv-python==4.13.0.92
yarl==1.22.0
importlib_resources==6.5.2
trax==1.4.1
pytoolconfig==1.3.1
pytokens==0.4.1
async-lru==2.1.0
tpu-info==0.8.1
perfetto==0.16.0
simsimd==6.5.13
isoduration==20.11.0
webencodings==0.5.1
google_metrax==0.2.4
fastjsonschema==2.21.2
marshmallow==3.26.2
psutil==7.2.2
pydocstyle==6.3.0
nbclient==0.10.4
yapf==0.43.0
fonttools==4.61.1
jraph==0.0.6.dev0
entrypoints==0.4
anyio==4.12.1
charset-normalizer==3.4.4
optree==0.18.0
pyarrow==23.0.1
cycler==0.12.1
keras==3.13.2
gast==0.7.0
jupyterlab==4.0.0a36
platformdirs==4.9.2
h11==0.16.0
numpy==2.3.5
toolz==1.1.0
orbax-export==0.0.8
rope==1.14.0
jaxtyping==0.3.9
pyparsing==3.3.2
cffi==2.0.0
Markdown==3.10.2
keras-nlp==0.26.0
Send2Trash==2.1.0
uri-template==1.3.0
parso==0.8.6
webcolors==25.10.0
pydantic==2.12.5
debugpy==1.8.20
tfp-nightly==0.26.0.dev20260217
treescope==0.1.10
omegaconf==2.4.0.dev4
ipython_pygments_lexers==1.1.1
typing_extensions==4.15.0
PyYAML==6.0.3
bleach==6.3.0
notebook==7.0.0a16
tenacity==9.1.4
ml_dtypes==0.5.4
google-pasta==0.2.0
Werkzeug==3.1.5
rfc3987-syntax==1.1.0
mpmath==1.3.0
etils==1.13.0
einops==0.8.2
aiohappyeyeballs==2.6.1
pyzmq==27.1.0
pillow==12.1.1
jupyter-lsp==1.5.1
referencing==0.37.0
mccabe==0.7.0
pycparser==3.0
scikit-learn==1.8.0
kagglehub==1.0.0
papermill==2.6.0
optax==0.2.7
docstring_parser==0.17.0
albumentations==2.0.8
seaborn==0.13.2
matplotlib-inline==0.2.1
stringzilla==4.6.0
typing-inspect==0.9.0
flatbuffers==25.12.19
clu==0.0.12
pexpect==4.9.0
ptyprocess==0.7.0
torch==2.8.0+cpu
tensorflow_cpu==2.20.0
multiprocess==0.70.15
soupsieve==2.8.3
snowballstemmer==3.0.1
propcache==0.4.1
nbformat==5.10.4
nest-asyncio==1.6.0
opencv-python-headless==4.13.0.92
ansicolors==1.1.8
stack-data==0.6.3
black==26.1.0
msgpack==1.1.2
tensorflow-io==0.37.1
hf-xet==1.3.0b0
termcolor==3.3.0
jupyter_client==8.8.0
simple-parsing==0.1.8
jupyter_server==2.17.0
networkx==3.6.1
fsspec==2026.2.0
absl-py==2.4.0
cloudpickle==3.1.2
isort==7.0.0
lark==1.3.1
Pygments==2.19.2
gym-notices==0.1.0
rich==14.3.2
pylint==4.0.4
terminado==0.18.1
accelerate==1.12.0
certifi==2026.1.4
idna==3.11
jupyter_server_terminals==0.5.4
httpcore==1.0.9
tokenizers==0.22.2
safetensors==0.7.0
torchaudio==2.8.0+cpu
ml_collections==1.1.0
babel==2.18.0
python-dateutil==2.9.0.post0
tzdata==2025.3
python-lsp-server==1.14.0
ujson==5.11.0
pyflakes==3.2.0
tabulate==0.9.0
regex==2026.1.15
notebook_shim==0.2.4
mdurl==0.1.2
diffusers==0.36.0
executing==2.2.1
prometheus_client==0.24.1
torch_xla==2.8.0
matplotlib==3.10.8
wadler_lindig==0.1.7
requests==2.32.5
albucore==0.0.24
python-dotenv==1.2.1
defusedxml==0.8.0rc2
pandas==3.0.0
jsonschema-specifications==2025.9.1
six==1.17.0
pathspec==1.0.4
jupyterlab_widgets==3.0.16
googleapis-common-protos==1.56.1
promise==2.3
traitlets==5.14.3
gym==0.26.2
rfc3986-validator==0.1.1
threadpoolctl==3.6.0
qwix==0.1.5
tensorflow-text==2.20.0
frozenlist==1.8.0
cramjam==2.11.0
argon2-cffi==25.1.0
humanize==4.15.0
datasets==2.14.4
setuptools==82.0.0
argon2-cffi-bindings==25.1.0
rpds-py==0.30.0
scipy==1.17.0
dataclasses-json==0.6.7
jupyter-events==0.12.0
joblib==1.5.3
jmp==0.0.4
mistune==3.2.0
zipp==3.23.0
prompt_toolkit==3.0.52
torchvision==0.23.0+cpu
keras-hub==0.26.0
dm-haiku==0.0.17.dev0
google-tunix==0.1.6
jaxlib==0.9.0.1
astroid==4.0.4
MarkupSafe==3.0.3
widgetsnbextension==4.0.15
packaging==26.0
filelock==3.24.2
jedi==0.19.2
ipython==9.10.0
kagglesdk==0.1.15
python-lsp-jsonrpc==1.1.2
Jinja2==3.1.6
autopep8==2.0.4
typing-inspection==0.4.2
asttokens==3.0.1
simplejson==3.20.2
python-json-logger==4.0.0
contourpy==1.3.3
pycodestyle==2.12.1
tomlkit==0.14.0
tinycss2==1.4.0
aiofiles==25.1.0
tensorflow-datasets==4.9.9
jupyterlab_server==2.28.0
sympy==1.14.0
wcwidth==0.6.0
beautifulsoup4==4.14.3
jax==0.9.0.1
rfc3339-validator==0.1.4
dill==0.3.7
tf_keras==2.20.1
whatthepatch==1.0.7
orbax-checkpoint==0.11.32
tensorflow-metadata==0.5.0
decorator==5.2.1
wheel==0.46.3
llvmlite==0.46.0
tqdm==4.67.3
funcsigs==1.0.2
tornado==6.5.4
httpx==0.28.1
flax==0.12.3
pandocfilters==1.5.1
importlib_metadata==8.7.1
tensorboard-data-server==0.7.2
attrs==25.4.0
pluggy==1.6.0
arrow==1.4.0
wrapt==2.1.1
keras-cv==0.9.0
aiohttp==3.13.3
hf_transfer==0.1.9
transformers==4.57.1
xxhash==3.6.0
tensorstore==0.1.81
tensorflow-probability==0.25.0
mypy_extensions==1.1.0
chex==0.1.91
json5==0.13.0
dm-tree==0.1.9
