setuptools==75.2.0
types-setuptools==80.9.0.20250822
requirements-parser==0.9.0
pip==24.1.2
wandb==0.24.2
click==8.3.1
regex==2025.11.3
joblib==1.5.3
nltk==3.9.2
tqdm==4.67.1
pytools==2025.2.5
pycuda==2025.1.2
siphash24==1.8
protobuf==5.29.5
pandas==2.2.2
google-cloud-translate==3.12.1
scipy==1.15.3
gensim==4.4.0
numpy==2.0.2
torchtune==0.6.1
huggingface-hub==0.36.0
learntools==0.3.5
urllib3==2.6.3
aiosignal==1.4.0
kagglehub==0.4.0
annotated-types==0.7.0
rfc3161-client==1.0.5
blake3==1.0.8
filelock==3.20.3
fsspec==2025.10.0
pyOpenSSL==25.3.0
securesystemslib==1.3.1
pydantic_core==2.41.5
markdown-it-py==4.0.0
grpclib==0.4.9
multidict==6.7.0
in-toto-attestation==0.9.3
yarl==1.22.0
multiprocess==0.70.18
id==1.5.0
PyJWT==2.10.1
anyio==4.12.1
charset-normalizer==3.4.4
h11==0.16.0
cffi==2.0.0
pydantic==2.12.5
typing_extensions==4.15.0
PyYAML==6.0.3
aiohappyeyeballs==2.6.1
sigstore==4.1.0
pyasn1==0.6.1
model-signing==1.1.1
sigstore-models==0.0.5
shellingham==1.5.4
hf-xet==1.2.1rc0
propcache==0.4.1
typer-slim==0.21.1
betterproto==2.0.0b7
Pygments==2.19.2
certifi==2026.1.4
idna==3.11
rich==14.2.0
httpcore==1.0.9
pycparser==2.23
email-validator==2.3.0
python-dateutil==2.9.0.post0
mdurl==0.1.2
requests==2.32.5
hpack==4.1.0
dill==0.4.0
pyarrow==22.0.0
cryptography==46.0.3
packaging==26.0rc2
six==1.17.0
dnspython==2.8.0
frozenlist==1.8.0
kagglesdk==0.1.14
typing-inspection==0.4.2
platformdirs==4.5.1
asn1crypto==1.5.1
hyperframe==6.1.0
h2==4.3.0
rfc8785==0.1.4
sigstore-rekor-types==0.0.18
httpx==0.28.1
tuf==6.0.0
attrs==25.4.0
aiohttp==3.13.3
xxhash==3.6.0
datasets==4.4.2
rouge_score==0.1.2
pyclipper==1.4.0
bayesian-optimization==3.2.0
fiona==1.10.1
urwid_readline==0.15.1
Wand==0.6.13
mpld3==0.5.12
qgrid==1.3.1
woodwork==0.31.0
y-py==0.6.2
ipywidgets==8.1.5
daal==2025.10.0
scikit-multilearn==0.2.0
pytesseract==0.3.13
Cartopy==0.25.0
odfpy==1.4.1
Boruta==0.4.3
docstring-to-markdown==0.17
torchinfo==1.8.0
clint==0.5.1
h2o==3.46.0.9
comm==0.2.3
Deprecated==1.3.1
pymongo==4.16.0
tensorflow-io-gcs-filesystem==0.37.1
optuna==4.6.0
pygltflib==1.16.5
keras-core==0.1.7
google-cloud-vision==3.11.0
pandas-profiling==3.6.6
pyaml==25.7.0
keras-tuner==1.4.8
open_spiel==1.6.11
fastuuid==0.14.0
scikit-surprise==1.1.4
torchmetrics==1.8.2
vtk==9.3.1
jupyter-ydoc==0.2.5
aiofiles==22.1.0
featuretools==1.31.0
plotly-express==0.4.1
marshmallow==3.26.2
easyocr==1.7.2
pyemd==1.0.0
fuzzywuzzy==0.18.0
starlette==0.50.0
openslide-python==1.4.3
black==25.12.0
google-cloud-videointelligence==2.17.0
pandasql==0.7.3
update-checker==0.18.0
pathos==0.3.2
xvfbwrapper==0.2.18
jupyter_server_fileid==0.9.3
scikit-learn-intelex==2025.10.0
fasttext==0.9.3
litellm==1.80.16
stopit==1.1.2
haversine==2.9.0
pox==0.3.6
google-auth==2.47.0
catboost==1.2.8
jupyter_server==2.12.5
geojson==3.2.0
boto3==1.42.27
nilearn==0.13.0
fury==0.12.0
ipython_pygments_lexers==1.1.1
olefile==0.47
jupyter_server_proxy==4.4.0
gymnasium==0.29.0
tensorflow-cloud==0.1.5
pytorch-ignite==0.5.3
annotated-doc==0.0.4
jupyter-lsp==1.5.1
gpxpy==1.6.2
simpervisor==1.0.0
mlcrate==0.2.0
papermill==2.6.0
jupyterlab==3.6.8
args==0.1.0
ImageHash==4.3.2
TPOT==0.12.2
typing-inspect==0.9.0
PyUpSet==0.1.1.post7
dacite==1.9.2
pycryptodome==3.23.0
urwid==3.0.3
ray==2.53.0
deepdiff==8.6.1
visions==0.8.1
trx-python==0.3
Chessnut==0.4.1
deap==1.4.3
lml==0.2.0
jmespath==1.0.1
jiter==0.10.0
ypy-websocket==0.8.4
cytoolz==1.1.0
qtconsole==5.7.0
ansicolors==1.1.8
path.py==12.5.0
pathspec==1.0.3
lightning-utilities==0.15.2
tensorflow-io==0.37.1
wavio==0.0.9
cligj==0.7.2
pytorch-lightning==2.6.0
pdf2image==1.17.0
dipy==1.11.0
ipympl==0.9.8
fastapi==0.123.10
pybind11==3.0.1
pyLDAvis==3.4.1
coverage==7.13.1
Janome==0.5.0
langid==1.1.6
scikit-plot==0.3.7
fastgit==0.0.1
simpleitk==2.5.3
ml_collections==1.1.0
filetype==1.2.0
jupyter_server_ydoc==0.8.0
execnb==0.1.18
colorama==0.4.6
ruamel.yaml==0.19.1
python-lsp-server==1.14.0
ujson==5.11.0
PyArabic==0.6.15
path==17.1.1
nbdev==2.4.10
google-genai==1.57.0
google-cloud-aiplatform==1.133.0
fastcore==1.11.3
botocore==1.42.27
openai==2.15.0
Pympler==1.1
puremagic==1.30
s3fs==0.4.2
nbconvert==6.4.5
kornia==0.8.2
funcy==2.0
testpath==0.6.0
kornia_rs==0.1.10
nbclient==0.5.13
ydata-profiling==4.18.1
squarify==0.4.4
dataclasses-json==0.6.7
pettingzoo==1.24.0
segment_anything==1.0
emoji==2.15.0
a2a-sdk==0.3.22
click-plugins==1.1.1.2
google-cloud-pubsub==2.34.0
python-bidi==0.6.7
rgf-python==3.12.0
pytokens==0.3.0
ninja==1.13.0
stable-baselines3==2.1.0
widgetsnbextension==4.0.15
minify_html==0.18.1
pypdf==6.6.0
kaggle-environments==1.18.0
jedi==0.19.2
jupyterlab-lsp==3.10.2
line_profiler==5.0.0
python-lsp-jsonrpc==1.1.2
QtPy==2.4.3
pydicom==3.0.1
multimethod==1.12
asttokens==3.0.1
docker==7.1.0
ghapi==1.0.8
s3transfer==0.16.0
ppft==1.7.7
libpysal==4.9.2
igraph==1.0.0
jupyterlab_server==2.28.0
tenacity==9.1.2
isoweek==1.3.3
texttable==1.7.0
sphinx-rtd-theme==0.2.4
kt-legacy==1.0.5
orderly-set==5.5.0
pyexcel-io==0.6.7
Shimmy==1.3.0
mamba==0.11.3
colorlog==6.10.1
openslide-bin==4.0.0.11
pyexcel-ods==0.6.0
aiosqlite==0.22.1
preprocessing==0.1.13
lime==0.2.0.1
cesium==0.12.4
google-adk==1.22.1
hep_ml==0.8.0
phik==0.12.5
setuptools-scm==9.2.2
pudb==2025.1.5
mne==1.11.0
rtree==1.4.1
keras-cv==0.9.0
gatspy==0.3
opentelemetry-exporter-gcp-logging==1.11.0a0
onnx==1.20.1
scikit-optimize==0.10.2
category_encoders==2.9.0
mypy_extensions==1.1.0
mistune==0.8.4
json5==0.13.0
google-colab==1.0.0
psutil==5.9.5
tblib==3.1.0
typer==0.20.0
astunparse==1.6.3
sentry-sdk==2.42.1
ipython==7.34.0
oauthlib==3.3.1
grpc-google-iam-v1==0.14.3
roman-numerals-py==3.1.0
prophet==1.1.7
libclang==18.1.1
libucxx-cu12==0.44.0
accelerate==1.11.0
imageio==2.37.0
geemap==0.35.3
patsy==1.0.2
imagesize==1.4.1
py-cpuinfo==9.0.0
pyzmq==26.2.1
langchain==0.3.27
soxr==1.0.0
jupyterlab_pygments==0.3.0
opentelemetry-proto==1.37.0
backcall==0.2.0
tensorflow-hub==0.16.1
requests-oauthlib==2.0.0
orjson==3.11.3
dopamine_rl==4.1.2
sentence-transformers==5.1.1
overrides==7.7.0
bokeh==3.7.3
jeepney==0.9.0
ipython-genutils==0.2.0
xarray==2025.10.1
catalogue==2.0.10
beautifulsoup4==4.13.5
sphinxcontrib-devhelp==2.0.0
partd==1.4.2
treelite==4.4.1
sklearn-pandas==2.2.0
nvidia-nccl-cu12==2.27.3
sphinxcontrib-qthelp==2.0.0
google-auth-httplib2==0.2.0
typeguard==4.4.4
h5py==3.15.1
google-cloud-core==2.4.3
xlrd==2.0.2
branca==0.8.2
chardet==5.2.0
imbalanced-learn==0.14.0
sentencepiece==0.2.1
google-api-core==2.26.0
nvidia-cusparselt-cu12==0.7.1
Flask==3.1.2
tcmlib==1.4.0
simple-parsing==0.1.7
matplotlib-venn==1.1.2
fqdn==1.5.1
gin-config==0.5.0
ipython-sql==0.5.0
toml==0.10.2
PyOpenGL==3.1.10
jsonpointer==3.0.0
wrapt==2.0.0
websocket-client==1.9.0
torchao==0.10.0
alabaster==1.0.0
jaxlib==0.7.2
timm==1.0.20
namex==0.1.0
google-cloud-secret-manager==2.25.0
pynvml==12.0.0
nvidia-cublas-cu12==12.6.4.1
pyogrio==0.11.1
PyGObject==3.42.0
libkvikio-cu12==25.6.0
array_record==0.8.1
jupyter_core==5.9.1
jupyter_server_terminals==0.5.3
spacy-legacy==3.0.12
gradio_client==1.13.3
librosa==0.11.0
ibis-framework==9.5.0
requests-toolbelt==1.0.0
triton==3.4.0
dask-cuda==25.6.0
google-cloud-language==2.18.0
imutils==0.5.4
google-cloud-monitoring==2.28.0
opt_einsum==3.4.0
folium==0.20.0
moviepy==1.0.3
en_core_web_sm==3.8.0
ucxx-cu12==0.44.0
tensorflow-text==2.19.0
importlib_resources==6.5.2
lazy_loader==0.4
numba-cuda==0.11.0
jsonschema==4.25.1
opentelemetry-semantic-conventions==0.58b0
music21==9.3.0
bigquery-magics==0.10.3
spanner-graph-notebook==1.1.8
thinc==8.3.6
sqlglot==25.20.2
linkify-it-py==2.0.3
tsfresh==0.21.1
opencv-contrib-python==4.12.0.88
nbclassic==1.3.3
scikit-image==0.25.2
tensorflow_decision_forests==1.12.0
language_data==1.3.0
isoduration==20.11.0
pytest==8.4.2
libcuml-cu12==25.6.0
nvidia-cuda-nvcc-cu12==12.5.82
google-crc32c==1.7.1
nvidia-nvtx-cu12==12.6.77
torchsummary==1.5.1
earthengine-api==1.5.24
webencodings==0.5.1
jax-cuda12-pjrt==0.7.2
webcolors==24.11.1
pydot==3.0.4
gym==0.25.2
fastjsonschema==2.21.2
google-generativeai==0.8.5
orbax-checkpoint==0.11.25
gdown==5.2.0
soupsieve==2.8
httpimport==1.4.1
py4j==0.10.9.7
Markdown==3.9
rsa==4.9.1
tomlkit==0.13.3
libcugraph-cu12==25.6.0
entrypoints==0.4
pyspark==3.5.1
httplib2==0.31.0
fastprogress==1.0.3
importlib_metadata==8.7.0
ipyleaflet==0.20.0
missingno==0.5.2
pandas-datareader==0.10.0
pooch==1.8.2
pyviz_comms==3.0.6
cycler==0.12.1
fastrlock==0.8.3
opencv-python==4.12.0.88
greenlet==3.2.4
nvidia-cusolver-cu12==11.7.1.2
tensorboard==2.19.0
jax-cuda12-plugin==0.7.2
inflect==7.5.0
panel==1.8.2
multitasking==0.0.12
xgboost==3.1.0
cvxpy==1.6.7
rpy2==3.5.17
tf_keras==2.19.0
shapely==2.1.2
uri-template==1.3.0
opentelemetry-api==1.37.0
pyshp==3.0.2.post1
atpublic==5.1
sphinxcontrib-applehelp==2.0.0
treescope==0.1.10
tiktoken==0.12.0
tensorstore==0.1.78
xyzservices==2025.4.0
dask-cudf-cu12==25.6.0
cupy-cuda12x==13.3.0
bleach==6.2.0
preshed==3.0.10
defusedxml==0.7.1
sphinxcontrib-serializinghtml==2.0.0
libucx-cu12==1.18.1
python-utils==3.9.1
lxml==5.4.0
highspy==1.11.0
pydotplus==2.0.2
pycryptodomex==3.23.0
matplotlib==3.10.0
google-pasta==0.2.0
cmdstanpy==1.2.5
ipyparallel==8.8.0
keras==3.10.0
spacy-loggers==1.0.5
rfc3987-syntax==1.1.0
google-ai-generativelanguage==0.6.15
keras-hub==0.21.1
pydata-google-auth==1.9.1
cudf-polars-cu12==25.6.0
absl-py==1.4.0
openpyxl==3.1.5
vega-datasets==0.9.0
mpmath==1.3.0
etils==1.13.0
ffmpy==0.6.3
frozendict==2.4.6
polars==1.25.2
graphviz==0.21
torchdata==0.11.0
jax==0.7.2
langchain-core==0.3.79
tensorflow-metadata==1.17.2
pycairo==1.28.0
sympy==1.13.3
pyparsing==3.2.5
cudf-cu12==25.6.0
langcodes==3.5.0
stringzilla==4.2.1
duckdb==1.3.2
smart_open==7.4.0
blinker==1.9.0
referencing==0.37.0
googledrivedownloader==1.1.0
GDAL==3.8.4
et_xmlfile==2.0.0
jieba==0.42.1
zict==3.0.0
hyperopt==0.2.7
python-louvain==0.16
GitPython==3.1.45
gradio==5.49.1
PyDrive2==1.21.3
keyring==25.6.0
murmurhash==1.0.13
python-dotenv==1.1.1
jupyter-console==6.6.3
gspread==6.2.1
rapids-logger==0.1.19
docstring_parser==0.17.0
albumentations==2.0.8
h5netcdf==1.7.2
pandas-gbq==0.29.2
seaborn==0.13.2
cons==0.4.7
pyomo==6.9.5
omegaconf==2.3.0
parso==0.8.5
rpds-py==0.27.1
progressbar2==4.5.0
pexpect==4.9.0
ptyprocess==0.7.0
jaraco.functools==4.3.0
pygame==2.6.1
google-cloud-datastore==2.21.0
cuml-cu12==25.6.0
ydf==0.13.0
libcuvs-cu12==25.6.1
ucx-py-cu12==0.44.0
kiwisolver==1.4.9
Cython==3.0.12
jupyterlab_widgets==3.0.15
snowballstemmer==3.0.1
nbformat==5.10.4
intel-openmp==2025.2.1
python-snappy==0.7.3
bqplot==0.12.45
nest-asyncio==1.6.0
umf==0.11.0
nvidia-cufft-cu12==11.3.0.4
notebook==6.5.7
nibabel==5.3.2
google-cloud-bigtable==2.33.0
cmake==3.31.6
multipledispatch==1.0.0
eerepr==0.1.2
locket==1.0.0
nvidia-ml-py==12.575.51
einops==0.8.1
google-cloud-dataproc==5.23.0
plotly==5.24.1
msgpack==1.1.2
clarabel==0.11.1
ipytree==0.2.2
psygnal==0.15.0
python-box==7.3.2
tweepy==4.16.0
prometheus_client==0.23.1
termcolor==3.1.0
nvidia-cuda-runtime-cu12==12.6.77
peft==0.17.1
mkl==2025.2.0
libraft-cu12==25.6.0
textblob==0.19.0
firebase-admin==6.9.0
bigframes==2.26.0
debugpy==1.8.15
SecretStorage==3.4.0
google-cloud-discoveryengine==0.13.12
xarray-einstats==0.9.1
decorator==4.4.2
libcudf-cu12==25.6.0
pickleshare==0.7.5
google-cloud-storage==2.19.0
lark==1.3.0
wasabi==1.1.3
blis==1.3.0
pydub==0.25.1
more-itertools==10.8.0
sse-starlette==3.0.2
keyrings.google-artifactregistry-auth==1.1.2
param==2.2.1
gast==0.6.0
Werkzeug==3.1.3
marisa-trie==1.3.1
colorcet==3.1.0
antlr4-python3-runtime==4.9.3
absolufy-imports==0.3.1
keras-nlp==0.21.1
toolz==0.12.1
python-slugify==8.0.4
google-cloud-speech==2.34.0
jupyter-leaflet==0.20.0
gym-notices==0.1.0
fonttools==4.60.1
semantic-version==2.10.0
etuples==0.3.10
google-cloud-logging==3.12.1
traitlets==5.7.1
sqlparse==0.5.3
terminado==0.18.1
google-cloud-resource-manager==1.15.0
librmm-cu12==25.6.0
python-multipart==0.0.20
Brotli==1.1.0
pyproj==3.7.2
langchain-text-splitters==0.3.11
sphinxcontrib-htmlhelp==2.1.0
grpc-interceptor==0.15.4
geocoder==1.38.1
mizani==0.13.5
babel==2.17.0
pyasn1_modules==0.4.2
pyperclip==1.11.0
optax==0.2.6
ply==3.11
audioread==3.0.1
docutils==0.21.2
scooby==0.10.2
distro==1.9.0
tf-slim==1.1.0
tzlocal==5.3.1
anywidget==0.9.18
groovy==0.1.2
opencv-python-headless==4.12.0.88
nvidia-cufile-cu12==1.11.1.6
proglog==0.1.12
nvtx==0.2.13
safetensors==0.6.2
google-cloud-bigquery-connection==1.19.0
matplotlib-inline==0.1.7
editdistance==0.8.1
tzdata==2025.2
tabulate==0.9.0
dlib==19.24.6
pylibraft-cu12==25.6.0
immutabledict==4.2.2
community==1.0.0b1
tensorflow==2.19.0
ale-py==0.11.2
CacheControl==0.14.3
notebook_shim==0.2.4
ndindex==1.10.0
pytensor==2.35.1
beartype==0.22.2
google-cloud-spanner==3.58.0
soundfile==0.13.1
itsdangerous==2.2.0
jsonpatch==1.33
nx-cugraph-cu12==25.6.0
plotnine==0.14.5
blosc2==3.10.2
ml_dtypes==0.5.3
traittypes==0.2.1
holidays==0.82
text-unidecode==1.3
yfinance==0.2.66
arviz==0.22.0
weasel==0.4.1
networkx==3.5
rapids-dask-dependency==25.6.0
srsly==2.5.1
wordcloud==1.9.4
jaraco.classes==3.4.0
albucore==0.0.24
db-dtypes==1.4.3
google-cloud-bigquery==3.38.0
uritemplate==4.2.0
numexpr==2.14.1
cymem==2.0.11
simsimd==6.5.3
alembic==1.17.0
jupytext==1.17.3
pillow==11.3.0
jsonschema-specifications==2025.9.1
tables==3.10.2
altair==5.5.0
pynvjitlink-cu12==0.7.0
cufflinks==0.17.3
cvxopt==1.3.2
watchdog==6.0.0
PySocks==1.7.1
uc-micro-py==1.0.3
proto-plus==1.26.1
Sphinx==8.2.3
optree==0.17.0
numba==0.60.0
opentelemetry-exporter-gcp-trace==1.10.0
pynndescent==0.5.13
raft-dask-cu12==25.6.0
google-cloud-trace==1.17.0
google-auth-oauthlib==1.2.2
peewee==3.18.2
promise==2.3
cloudpickle==3.1.1
chex==0.1.90
spacy==3.8.7
rfc3986-validator==0.1.1
threadpoolctl==3.6.0
Send2Trash==1.8.3
shap==0.49.1
sniffio==1.3.1
dask==2025.5.0
ipyevents==2.0.4
cramjam==2.11.0
wurlitzer==3.1.1
confection==0.1.5
narwhals==2.9.0
torchvision==0.23.0+cu126
plum-dispatch==2.5.8
stanio==0.5.1
easydict==1.13
argon2-cffi==25.1.0
llvmlite==0.43.0
nvidia-nvjitlink-cu12==12.6.85
statsmodels==0.14.5
argon2-cffi-bindings==25.1.0
future==1.0.0
psycopg2==2.9.11
iniconfig==2.3.0
lightgbm==4.6.0
jupyter-events==0.12.0
opentelemetry-exporter-otlp-proto-http==1.37.0
Bottleneck==1.4.2
opentelemetry-exporter-otlp-proto-common==1.37.0
pylibcugraph-cu12==25.6.0
distributed==2025.5.0
tokenizers==0.22.1
osqp==1.0.5
colour==0.1.5
zipp==3.23.0
httpx-sse==0.4.3
hdbscan==0.8.40
cuda-python==12.6.2.post1
nvidia-nvshmem-cu12==3.4.5
sphinxcontrib-jsmath==1.0.1
prompt_toolkit==3.0.52
google-resumable-media==2.7.2
holoviews==1.21.0
portpicker==1.5.2
PyWavelets==1.9.0
nvidia-cusparse-cu12==12.5.4.2
Farama-Notifications==0.0.4
pytz==2025.2
opentelemetry-resourcedetector-gcp==1.10.0a0
MarkupSafe==3.0.3
scs==3.2.9
SQLAlchemy==2.0.44
pycocotools==2.0.10
pydantic-settings==2.11.0
curl_cffi==0.13.0
humanize==4.14.0
astropy-iers-data==0.2025.10.20.0.39.8
cuvs-cu12==25.6.1
opentelemetry-exporter-gcp-monitoring==1.10.0a0
ipykernel==6.17.1
jsonpickle==4.1.1
websockets==15.0.1
nvidia-curand-cu12==10.3.7.77
googleapis-common-protos==1.71.0
pandas-stubs==2.2.2.240909
uvicorn==0.38.0
ratelim==0.1.6
miniKanren==1.0.5
geographiclib==2.1
cachetools==5.5.2
Jinja2==3.1.6
intel-cmplr-lib-ur==2025.2.1
simplejson==3.20.2
imageio-ffmpeg==0.6.0
python-json-logger==4.0.0
jupyter_kernel_gateway==2.5.2
tifffile==2025.10.16
contourpy==1.3.3
grpcio==1.75.1
nvidia-cudnn-cu12==9.10.2.21
pygit2==1.18.2
fastai==2.8.4
pymc==5.26.1
tinycss2==1.4.0
mdit-py-plugins==0.5.0
jaraco.context==6.0.1
tensorflow-datasets==4.9.9
flax==0.10.7
wcwidth==0.2.14
cyipopt==1.5.0
oauth2client==4.1.3
nvidia-cuda-nvrtc-cu12==12.6.77
umap-learn==0.5.9.post2
gspread-dataframe==4.0.0
types-pytz==2025.2.0.20250809
geopy==2.4.1
logical-unification==0.4.6
google-cloud-appengine-logging==1.7.0
natsort==8.4.0
langsmith==0.4.37
dataproc-spark-connect==0.8.3
opentelemetry-sdk==1.37.0
geopandas==1.1.1
rfc3339-validator==0.1.4
prettytable==3.16.0
stumpy==1.13.0
rmm-cu12==25.6.0
parsy==2.2
safehttpx==0.1.6
pyerfa==2.0.1.5
astropy==7.1.1
blobfile==3.1.0
diffusers==0.35.2
mcp==1.18.0
slicer==0.0.8
google-cloud-firestore==2.21.0
build==1.3.0
grpcio-status==1.71.2
gitdb==4.0.12
sqlalchemy-spanner==1.17.0
ruff==0.14.1
pylibcudf-cu12==25.6.0
google-cloud-audit-log==0.4.0
scikit-learn==1.6.1
Authlib==1.6.5
cloudpathlib==0.23.0
flatbuffers==25.9.23
fastdownload==0.0.7
gcsfs==2025.3.0
google-cloud-functions==1.21.0
pyproject_hooks==1.2.0
tornado==6.5.1
pandocfilters==1.5.1
fasttransform==0.0.2
yellowbrick==1.5
jupyter_client==7.4.9
kaggle==1.7.4.5
distributed-ucxx-cu12==0.44.0
tensorboard-data-server==0.7.2
torchaudio==2.8.0+cu126
pluggy==1.6.0
google==2.0.3
arrow==1.4.0
mlxtend==0.23.4
smmap==5.0.2
hf_transfer==0.1.9
torch==2.8.0+cu126
sortedcontainers==2.4.0
tbb==2022.2.0
google-api-python-client==2.185.0
transformers==4.57.1
wheel==0.45.1
nvidia-cuda-cupti-cu12==12.6.80
zstandard==0.25.0
Mako==1.3.10
autograd==1.8.0
glob2==0.7
tensorflow-probability==0.25.0
colorlover==0.3.0
ipyfilechooser==0.6.0
dm-tree==0.1.9
html5lib==1.1
python-apt==0.0.0
PyGObject==3.42.1
blinker==1.4
jeepney==0.7.1
six==1.16.0
oauthlib==3.2.0
wadllib==1.3.6
launchpadlib==1.10.16
dbus-python==1.2.18
PyJWT==2.3.0
importlib-metadata==4.6.4
httplib2==0.20.2
zipp==1.0.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu4
lazr.restfulclient==0.14.4
SecretStorage==3.3.1
distro==1.7.0
lazr.uri==1.0.6
more-itertools==8.10.0
cryptography==3.4.8
keyring==23.5.0
Markdown==3.3.6
Mako==1.1.3
MarkupSafe==2.0.1
packaging==24.1
inflect==7.3.1
autocommand==2.2.2
typeguard==4.3.0
jaraco.text==3.12.1
importlib_resources==6.4.0
wheel==0.43.0
zipp==3.19.2
platformdirs==4.2.2
importlib_metadata==8.0.0
tomli==2.0.1
jaraco.collections==5.1.0
more-itertools==10.3.0
typing_extensions==4.12.2
backports.tarfile==1.2.0
jaraco.functools==4.0.1
jaraco.context==5.3.0
